body {
    text-align: center;
    background-color: rgb(254, 254, 254);
    align-items: center;
}

#btn {
    padding: 1px;
    height: 30px;
    width: 70px;
    border: 0px;
    color: rgb(0, 129, 241);
    font-size: medium;
}

h5 {
    color: rgb(0, 0, 0);
    padding-right: 5pc;
}


p {
    color: rgb(0, 0, 0);
    padding-right: 5pc;
}